<!-- HEADER -->
<header class="header">
    <div class="logo-area">
        <i class="fas fa-bars menu-toggle" id="menuToggle"></i>
        <div class="logo">
            <div class="logo" ,
                style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: #FFB74D;">
                Học tập là không ngừng cố gắng - Nguyễn Tiến Linh </div>
        </div>
    </div>
    <div class="profile" id="profile">
        <div class="profile-info" id="profileBtn">
            <img src="https://ui-avatars.com/api/?name=Nguyen+Van+A&background=1A73E8&color=fff" alt="avatar">
            <span>Nguyễn Văn A</span>
            <i class="fas fa-chevron-down"></i>
        </div>
        <div class="dropdown-menu" id="dropdownMenu">
            <a href="#"><i class="fas fa-user"></i> Hồ sơ</a>
            <a href="#"><i class="fas fa-cog"></i> Cài đặt</a>
            <a href="#"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a>
        </div>
    </div>
</header>