<!-- SIDEBAR -->
<!-- khi tạo file mới trong page thì mình phải đặt tên đúng theo side bar ở đây name = history 
<a href="/index.html?page=history" class="menu-item">
    <i class="fas fa-history"></i>
    <span>Lịch sử thi</span>
</a>

  Thì project phải có:
     pages/history.html
     assets/css/pages/history.css
     assets/js/modules/history.js
 -->
<aside class="sidebar">
    <div class="sidebar-header">
        <i class="fas fa-graduation-cap"></i> EduExam
    </div>
    <nav class="sidebar-menu">
        <a href="/index.html?page=news" class="menu-item">
            <i class="fas fa-newspaper"></i>
            <span>Tin tức</span>
        </a>
        <a href="/index.html?page=exam" class="menu-item">
            <i class="fas fa-pencil-alt"></i>
            <span>Xem bài thi</span>
        </a>
        <a href="/index.html?page=history" class="menu-item">
            <i class="fas fa-history"></i>
            <span>Lịch sử thi</span>
        </a>
        <a href="/index.html?page=ranking" class="menu-item">
            <i class="fas fa-trophy"></i>
            <span>Bảng xếp hạng</span>
        </a>
        <a href="/index.html?page=quiz" class="menu-item">
            <i class="fas fa-credit-card"></i>
            <span>Lịch sử giao dịch</span>
        </a>
    </nav>
</aside>